<%- include('./layouts/header.html') -%>

    <header>
        <div class="container">
            <span>out-of-box-movies</span>
        </div>
    </header>
    <main>
        <div class="container">
            <section>
                <% filmes.forEach(filme=> { %>
                    <article>
                        <div class="content-article">
                            <% if (filme.image !='' ) { %>
                                <img src="<%=filme.image%>" alt="<%=filme.titulo%>">
                                <% } else { %>
                                    <img src="/img/noimage.jpg" alt="<%=filme.titulo%>">
                                    <% } %>
                                        <h2>
                                            <%=filme.titulo%>
                                        </h2>
                        </div>
                        <div class="watch">
                            <span>
                                <form action="/watch" method="POST">
                                    <input type="hidden" name="id" value=<%=filme.id_filme%>>
                                    <input type="submit" name="watch" value="Assistido">
                                </form>
                            </span>
                        </div>
                        <div class="streaming">
                            <span>
                                <% if (filme.streaming=='2' ) { %>
                                    <img src="/img/netflix.png" alt="netflix">
                                    <% } else if (filme.streaming=='1' ) { %>
                                        <img src="/img/prime.png" alt="prime">
                                        <% } else if (filme.streaming=='3' ) { %>
                                            <img src="/img/telecine.png" alt="telecine">
                                            <% } else if (filme.streaming=='4' ) { %>
                                                <img src="/img/hbo.webp" alt="hbo">
                                                <% } else { %>
                                                    <img src="/img/other.png" alt="pirate">
                                                    <% } %>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <% }) %>
            </section>

            <div class="add-btn">
                <a href="/cadastrar">+</a>
            </div>
        </div>
    </main>

    <%- include('./layouts/footer.html') -%>