@import url(./global.css);

header{
    width: 100%;
    height: 80px;
    background-color: darkblue  ;
}

header span{
    float: left;
    padding: 20px 0px;
    font-size: 2rem;
    font-family:sans-serif;
    color: #fff;
}

section{
    margin: 20px 0;
}

section article{
    width:100%;
    float: left;
}

article .content-article{
    width: 98%;
    height: auto;
}

.content-article img{
    width: 100%;
   height: 450px;
}

.watch{
    text-align: center;
}

.watch input[type='submit']{
    padding: 10px;
    margin: 5px auto;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
}

.input-group{
    width: 100%;
    padding: 5px 0;
}

.input-group label{
    width: 100%;
    padding: 5px 0;
    display: block;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.input-group input{
    width: 100%;
    padding: 10px;
    display: block;
}

.input-group button{
        padding: 15px;
        border-radius: 50px;
        border: none;
        font-size: 1.5rem;
        color: #fff;
        background-color: darkslateblue;
        cursor: pointer;
        float:right;
}

.add-btn{
    padding: 15px 25px;
    position: fixed;
    bottom: 10px;
    right: 40px;
    border-radius: 50px;
    font-size: 2rem;
    background-color: darkslateblue;
}

.add-btn a{
    text-decoration: none;
    color: #fff;
}

