/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 410px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    section article{
        width:20%;
        height: 450px;
        float: left;

   }

   article .content-article{
    width: 98%;
    margin: 0 auto;
}

   .content-article img{
        height: 300px;
    }

    .content-article h2{
        height: 70px;
    }
}

